.memodack___syntax {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-offset: 4px;
  text-decoration-color: #d5d5d5;
  background-color: #f4f4f4;
}

.memodack___syntax:hover {
  cursor: pointer;
}

.memodack___quest__answers {
  display: flex;
  gap: 4px;
  justify-content: center;
  flex-wrap: wrap;
}

.memodack___quest__answers .correct {
  border: solid 1px #47b479;
  color: #257f4f;
  background-color: #eefff9;
}

.memodack___quest__answers .wrong {
  border: solid 1px #c52222;
  color: #bd0303d4;
  background-color: #ff342030;
}

.memodack___quest__answers .word {
  text-align: center;
}

.memodack___quest__answers button:hover {
  cursor: pointer;
}

.memodack___quest__answers button:disabled {
  cursor: default;
}

.memodack___quest__answers button:focus-visible {
  box-shadow: var(--input-shadow);
}

.memodack___quest__progress {
  height: 1px;
  margin: 1rem 0;
  width: 100%;
  border: none;
}

.memodack___quest__progress::-webkit-progress-bar {
  background-color: var(--hr-color);
}

.memodack___quest__progress::-webkit-progress-value {
  background-color: #4caf50;
}

.memodack___quest__next {
  display: flex;
  justify-content: center;
}

.memodack___quest__next button {
  cursor: pointer;
}

.memodack___quest__next button:disabled {
  cursor: default;
}

.memodack___quest__question {
  text-align: center;
  margin: 0.5rem;
}

.memodack___quest__text {
  text-align: center;
  opacity: 0.5;
  width: 80%;
  margin: 1rem auto;
  margin-top: 0;
}

.memodack___quest__image {
  height: 170px;
  min-height: 170px;
  border-radius: var(--modal-radius);
  border: var(--modal-border-width) solid var(--modal-border-color);
  box-shadow: var(--input-shadow);
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  aspect-ratio: 4 / 3;
}

@media (prefers-color-scheme: dark) {
  .memodack___syntax {
    text-decoration-color: #6f6f6f;
    background-color: #2d2d2d;
  }

  .memodack___quest__answers .correct {
    color: #23b96a;
    background-color: #294138;
  }

  .memodack___quest__answers .wrong {
    border: solid 1px #c52222;
    color: #df3e3e;
    background-color: #d5210f38;
  }
}

body.theme-dark .memodack___syntax {
  text-decoration-color: #6f6f6f;
  background-color: #2d2d2d;
}

body.theme-dark .memodack___quest__answers .correct {
  color: #23b96a;
  background-color: #294138;
}

body.theme-dark .memodack___quest__answers .wrong {
  border: solid 1px #c52222;
  color: #df3e3e;
  background-color: #d5210f38;
}
